# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.envfirebase-service-account.json
scripts/.env
scripts/emulator-data/firebase-export-metadata.json
scripts/emulator-data/auth_export/accounts.json
scripts/emulator-data/auth_export/config.json
scripts/emulator-data/firestore_export/firestore_export.overall_export_metadata
scripts/emulator-data/storage_export/buckets.json
.env
.cursor