# Firebase Configuration
VITE_FIREBASE_API_KEY=your_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
VITE_FIREBASE_APP_ID=your_app_id
VITE_FIREBASE_MEASUREMENT_ID=your_measurement_id

# Firebase Emulator (set to 'true' to use local emulators)
VITE_USE_EMULATOR=false
APOHUB_SEED_PASSWORD=password123
VITE_SUPERUSER_EMAIL=admin@example.test

# Application Settings
VITE_APP_URL=http://localhost:5173
VITE_APP_NAME=APOHUB
VITE_ORGANIZATION=GDG Davao 

#GEMINI
GEMINI_API=YOUR_GEMINI_API_KEY

# Resend Email Configuration
RESEND_API_KEY=re_your_resend_api_key
FROM_EMAIL=noreply@gdgdavao.com